@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="moduletable">
    <div class="bannergroup">

        <div class="banneritem">
            <img src="https://www.hitechwiresasia.com/images/HWAmedia/Banner/Banner-Home1.jpg" alt="HOME" />
            <div class="clr"></div>
        </div>

    </div>
</div>

<div class="row-fluid">
    <!-- Begin Sidebar -->
    <div id="sidebar" class="span4"> <!--<div id="sidebar" class="span3">-->
        <div class="sidebar-nav">
            <div class="moduletable_menu">
                <ul class="nav menu">
                    <li class="item-111 default current active"><a href="/index.php/vi/">TRANG CHỦ</a></li>
                    <li class="item-148"><a href="/index.php/vi/map">BẢN ̣ĐỒ</a></li>
                    <li class="item-135"><a href="/index.php/vi/edm-wire-vn">DÂY EDM</a></li>
                    <li class="item-136"><a href="/index.php/vi/special-wire-vn">DÂY DẶC BIỆT</a></li>
                    <li class="item-137"><a href="/index.php/vi/diamond-wire-vn">DÂY MẠ KIM CƯƠNG</a></li>
                    <li class="item-159"><a href="/index.php/vi/ma-kim-loa-i">MẠ KIM LOẠI</a></li>
                    <li class="item-138"><a href="/index.php/vi/contact-us-vn">LIÊN HỆ !</a></li>
                    <li class="item-139"><a
                            href="https://careerbuilder.vn/en/nha-tuyen-dung/hi-tech-wires-asia-co-ltd.35A60819.html"
                            target="_blank" rel="noopener noreferrer">TUYỂN DỤNG – NỘP ĐƠN NGAY !</a></li>
                </ul>
            </div>
            <div class="moduletable">
                <h2 class="h2">TIN TỨC</h2>
                <div class="newsflash">
                    <p><span style="font-size: 10pt; font-family: helvetica, arial, sans-serif;">Các đối tác GF đến thăm
                            HWA vào ngày 11 tháng 10 năm 2023</span></p>
                    <p><img src="/images/HWAmedia/Banner/GF-VISIT.jpg" alt="" /></p>

                </div>
            </div>

        </div>
    </div>
    <!-- End Sidebar -->
    <main id="content" role="main" class="span8">
        <!-- Begin Content -->

        <div id="system-message-container">
        </div>

        <div class="item-page" itemscope itemtype="https://schema.org/Article">
            <meta itemprop="inLanguage" content="vi-VN" />







            <div itemprop="articleBody">
                <p><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"><strong>VỀ CHÚNG
                            TÔI</strong> </span></p>
                <p><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"> </span></p>
                <p><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"><strong>Công ty TNHH Hi-Tech
                            Wires Asia (HWA)</strong>, là công ty con của Tập đoàn Thermo Technologies. Là đơn vị
                        sản xuất duy nhất của tập đoàn trong khu vực Thái Bình Dương, HWA tập trung phục vụ
                        khách hàng trong khi vực Châu Á và Mỹ. HWA bắt đầu hoạt động kể từ đầu năm
                        2008.</span></p>
                <p><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">Danh mục sản phẩm của
                        HWA bao gồm 4 dây chuyền sản phẩm: <strong>Dây EDM, Dây đặc biệt and Dây cắt mạ Kim
                            cương và Mạ bề mặt kim loại.</strong></span></p>
                <ul>
                    <li>
                        <p><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">Là đơn vị dẫn
                                đầu trong lĩnh vực cung cấp dây cắt dùng cho máy phóng tia lửa điện, HWA cung
                                cấp dòng <strong>sản phẩm EDM</strong> đa dạng có chất lượng cao, bao gồm loại
                                mạ và không mạ, giúp tăng cường tốc độ cắt và độ chính xác khi cắt.</span>
                        </p>
                    </li>
                    <li>
                        <p><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">Đáp ứng được đặc
                                tín cao về cơ học và độ dẫn điện, loại <strong>Dây đặc biệt</strong> của HWA
                                (dây đơn và dây bện công nghệ cao) được sản xuất dùng trong các ứng dụng (ứng
                                dụng trong không gian, máy bay, cáp viễn thông ngầm dưới biển, etc…)</span></p>
                    </li>
                    <li>
                        <p><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">Đáp ứng thi
                                trường dây cắt mạ kim cương cố định đang phát triển, <strong>Dây cắt mạ Kim
                                    cương</strong> của HWA được phát triển để cung cấp loại sản phẩm có hiệu
                                suất cắt tốt nhất về bề rộng bước cắt, chất lượng bề mặt wafer và biên độ
                                độ dày tổng thể.</span></p>
                    </li>
                    <li><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">HWA hiện có thể cung
                            cấp cho bạn dịch vụ <strong>phủ bề mặt</strong>. Chúng tôi cung cấp dịch vụ mạ dạng giá đỡ
                            (cố định) và thùng (quay) cho các kim loại đắt tiền (bạc, niken và các loại khác). Chúng tôi
                            có khả năng mạ các chi tiết cồng kềnh, phức tạp với độ khó cao.</span></li>
                </ul>
                <p><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"><strong>HWA</strong> đặt
                        tại Khu Công Nghiệp Việt Nam – Singapore 1 (VSIP 1), Tỉnh Bình Dương, một vị trí thuận
                        lợi nằm cách trung tâmThành phố Hồ Chí Minh 20 km. Đồng thời, Công ty của chúng tôi
                        chỉ cách Cảng Sài Gòn 30 km, cách sân bay Tân Sơn Nhất 22 km.</span></p>
                <p style="text-align: right;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">
                    </span></p>
                <p style="text-align: right;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;">
                    </span></p>
            </div>